.workoutPlan {
  background-color: #00040F;
  width: 100%;
  height:100%;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align: center;
  padding:50px;
}
#drop{
  width: 112px;
  margin-left: 0px;
  padding-left: 0px;
}
#text{
  padding-right: 100px;
}
.Plan{
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.box-width{
  display: flex;
  flex-direction:row;
  padding:50px;
  font-size:30px;
  max-width: 1280px;
  width: 100%;
}

.box-width h1{
  text-align: center;
}







