.workoutPlan {
  background-color: #00040f;
  width: 100%;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
  padding: 50px;
}
#drop {
  width: 112px;
  margin-left: 0px;
  padding-left: 0px;
}
#text {
  padding-right: 180px;
}
.Plan {
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.box-width {
  display: flex;
  flex-direction: row;
  padding: 20px 30px;
  max-width: 1280px;
  width: 100%;
}

.box-width h1 {
  text-align: center;
}

.box-width p {
  font-size: 22px;
}

.days {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}
.exe {
  justify-content: space-around;
  padding: 4px 0px;
  width: 90%;
  margin: 2px 70px;
  border-radius: 25px;
}

.bg {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 96.61%
  );
}

.days p {
  padding: 10px 30px;
  margin: 10px;
  font-size: 18px;
}

.notes{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 35px 70px;
  padding: 20px 23px;
  border-radius: 25px;
}

